.noteForm {
    text-align:center;
    color:#fff;
    margin-top: 10px;
    margin-left: 5px;
}

.changeShow {
    margin-left: 5px;
}

.changeShow input {
    width: 50%;
    display: inline;
}

.changeShow button {
    margin-top: 5%;
    margin-left: 1%;
    width: 47%;
    display: inline; 
}

 .changeDate input{
    width: 59%;
    display: inline;
    margin-right: 1%;
} 

.changeDate button{
    margin-top: 5%;
}